/venv/
!venv/lib/python3.9/site-packages/gym_microrts/
!venv/lib/python3.9/site-packages/gym_microrts/**
**/__pycache__/
/runs/
replays/
/models/
/videos/
/trained_models/
/trained_models.zip/
/wandb/
wandb/
wandb/**
wandb
hs_err_pid*
saved_models/
saved_replays/
saved_runs/
decompiled/
league_models/
outputs/