defaults:
  - default_config

ExperimentConfig:
  evaluate: true
  model_path: 
  evaluation_model_paths: [
                          "models/old_ppo_args__12_12_25__04_12_25__BCagent__selfplay_bot__adding_done_training_ratio_2__bot_removing_done_training_ratio_1.5_update_210.pt",
                          # "models/finished_PPO_Basis_Thesis/finished_PPO_Basis_thesis.pt"
                          ]
  names: [
          "old_ppo_args__12_12_25__04_12_25__BCagent__selfplay_bot__adding_done_training_ratio_2__bot_removing_done_training_ratio_1.5_update_210",
          # "finished_PPO_Basis_Thesis"
         ]
  exp_name: "old_ppo_args__12_12_25__04_12_25__BCagent__selfplay_bot__adding_done_training_ratio_2__bot_removing_done_training_ratio_1.5_update_210"
  wandb_project_name: new_Evaluation
  prod_mode: true

  seed:
  exact_seed: true

  render: true
  render_all: false

  num_eval_episodes: 100
  num_parallel_eval_envs: 25
  num_parallel_selfplay_eval_games: 25        # Number of parallel environments 1 == 2 Selfplay envs
