defaults:
  - default_config

ExperimentConfig:
  evaluate: true
  model_path: 
  evaluation_model_paths: [
                          "models/06_12_25__BCagent_PPO_clip_coef_0.15_dyn_attack_reward_2.0_value_warmup_4_update_2440.pt"
                          ]
  names: [
          "06_12_25__BCagent_PPO_clip_coef_0.15_dyn_attack_reward_2.0_value_warmup_4_update_2440"
         ]
  exp_name: "06_12_25__BCagent_PPO_clip_coef_0.15_dyn_attack_reward_2.0_value_warmup_4_update_2440"
  wandb_project_name: new_Evaluation
  prod_mode: true

  seed: 1
  exact_seed: true

  render: true
  render_all: false

  num_eval_episodes: 100
  num_parallel_eval_envs: 25
  num_parallel_selfplay_eval_games: 25        # Number of parallel environments 1 == 2 Selfplay envs
