defaults:
  - default_config

ExperimentConfig:
  evaluate: true
  model_path: 
  evaluation_model_paths: [
                          "models/09_12_25__04_12_25__agent_09_12_25__04_12_25__PPO_update_380__kle_stop_true/agent_update_470.pt"
                          ]
  names: [
          "09_12_25__04_12_25__agent_09_12_25__04_12_25__PPO_update_380__kle_stop_true"
         ]
  exp_name: "09_12_25__04_12_25__agent_09_12_25__04_12_25__PPO_update_380__kle_stop_true"
  wandb_project_name: new_Evaluation
  prod_mode: true

  seed:
  exact_seed: true

  render: true
  render_all: false

  num_eval_episodes: 100
  num_parallel_eval_envs: 25
  num_parallel_selfplay_eval_games: 25        # Number of parallel environments 1 == 2 Selfplay envs
